/* Base tag styles */

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
}


/* Forms */

form div {
	margin: 10px 0;
}

form fieldset {
	margin: 10px 0;
}

	form fieldset legend {
		color: #000;
		font-weight: bold;
	}


/* Layout */

#wrapper {
	margin: 0 auto;
	width: 994px;
}
